<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.freeme.memory">
    <!-- For updateself -->
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="com.freeme.memory.MemoryApp"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.freeme.memories.activity.AlbumSetActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58342bc3a40fa360a60005eb"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="droi"/>

        <service
            android:name="com.freeme.updateself.app.UpdateSelfService"
            android:exported="true">
            <meta-data
                android:name="UPDATESELF_APKNAME"
                android:value="freemeMemory"
                tools:replace="android:value"/>
            <meta-data
                android:name="UPDATESELF_DOWNLOADPATH"
                android:value="/.UpdateSelf/.Memory"
                tools:replace="android:value"/>
            <meta-data
                android:name="UPDATESELF_UPDATEURL"
                android:value="${UPDATESELF_UPDATEURL_VALUE}"
                tools:replace="android:value"/>
        </service>

        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <!-- add for facebook start -->
        <activity
            android:name="com.facebook.ads.InterstitialAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity



            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <!-- add for facebook end -->

        <!-- <activity android:name="com.droi.addemo.InterStitialActivity"></activity>-->

        <!--appid & channel 不可缺少，请联系Droi运营获取相关参数 本应用中填入的为测试参数-->
        <meta-data
            android:name="DROI_APPID"
            android:value="sgxc_01"/>
        <meta-data
            android:name="DROI_CHANNEL"
            android:value="memory"/>

        <!-- for admob config end -->
    </application>

</manifest>