<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.freeme.memory">
    <!-- For updateself -->
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.freeme.memory.MemoryApp"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.freeme.memories.activity.AlbumSetActivity"
                  android:screenOrientation="portrait"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data android:value="58342bc3a40fa360a60005eb" android:name="UMENG_APPKEY"/>
        <meta-data android:value="droi" android:name="UMENG_CHANNEL"/>

        <service
            android:name="com.freeme.updateself.app.UpdateSelfService"
            android:exported="true">
            <meta-data
                android:name="UPDATESELF_APKNAME"
                android:value="freemeMemory"
                tools:replace="android:value"/>
            <meta-data
                android:name="UPDATESELF_DOWNLOADPATH"
                android:value="/.UpdateSelf/.Memory"
                tools:replace="android:value"/>
            <meta-data
                android:name="UPDATESELF_UPDATEURL"
                android:value="${UPDATESELF_UPDATEURL_VALUE}"
                tools:replace="android:value"/>
        </service>
    </application>

</manifest>